.inline {
    display: inline;
}
.line-clamp {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 10em;
    /* Fallback for non-webkit */
    font-size: 1em;
    line-height: 1;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.portfolio-img_description_layer span{
    position: absolute;
    bottom: 0;
    left: 0;
}

.portfolio-img_description_layer {
    background: rgba(36, 62, 206, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.portfolio-img_wrap:hover .portfolio-img_description_layer {
    visibility: visible;
    opacity: 1;
}


.portfolio-img_description {
    transition: .2s;
    transform: translateY(1em);
}

.portfolio-img_wrap:hover .portfolio-img_description {
    transform: translateY(0);
}

@media (min-width: 576px) {
    .card-deck {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-deck {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-deck {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-deck {
        column-count: 5;
    }
}